{:paths ["src"]
 :deps {
        io.github.kotoba-lang/spec
        {:git/url "https://github.com/kotoba-lang/spec.git"
         :git/sha "7af79b6a9f5a4d8804a170b2ed0e316f5845286f"}
        io.github.kotoba-lang/test-next-int
        {:git/url "https://github.com/kotoba-lang/test-next-int.git"
         :git/sha "6330f0467a3114d48907a9cf10482a804c42066d"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
